* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	font-size: 16px;
	font-family: var(--body-fontFamily);
	background-color: var(--color-1);
	color: var(--color-4);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

input,
button {
	font-family: inherit;
}
