.githubInfo {
	padding: 1em;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	background-color: var(--color-1);

	&__repositories,
	&__follows,
	&__followings {
		text-align: center;

		&--text {
			text-transform: capitalize;
			font-weight: 300;
		}

		&--number {
			font-weight: 700;
		}
	}
}
